.App {
  background-color: black;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.App-logo {
  /*   animation: App-logo-spin infinite 20s linear; */
  /* height: 40vmin; */
  height: 70vmin;
  margin-right: 1rem;
  pointer-events: none;
}

.App-header {
  /* background-color: black; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-font-smoothing: antialiased !important;
}

@media (max-width: 500px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }
  .App-logo {
    margin-bottom: 1rem;
    pointer-events: none;
  }
}

.App-link {
  text-decoration: none;  
  color: white;
  animation-duration: 2s
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 12px;
}

.fa-linkedin{
  background: #007bb5;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(360deg);
  }
}
